﻿
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>
    <link href="https://stackpath.bootstrapcdn.cm/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

        .modal .form-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: #e0e0e0;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .modal .form-left,
        .modal .form-right {
            display: flex;
            flex-direction: column;
            width: 48%;
        }

            .modal .form-left input,
            .modal .form-right select,
            .modal .form-right input {
                margin-bottom: 10px;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }


        .modal .save-button {
            align-self: flex-end;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #44444c;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .table .thead-dark th {
            color: white !important;
            background-color: #44444c !important;
            border-color: #44444c !important;
        }

        .select2-hidden-accessible {
            border: 0 !important;
            clip: rect(0 0 0 0) !important;
            height: 1px !important;
            margin: -1px !important;
            overflow: hidden !important;
            padding: 0 !important;
            position: absolute !important;
            width: 1px !important
        }

        .select2-container--default .select2-selection--single,
        .select2-selection .select2-selection--single {
            border: 1px solid #d2d6de;
            border-radius: 5px;
            padding: 6px 12px;
            height: 34px;
            margin-bottom: 10px
        }

        .select2-container--default .select2-selection--single {
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 5px
        }

        .select2-container .select2-selection--single {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 28px;
            user-select: none;
            -webkit-user-select: none
        }

            .select2-container .select2-selection--single .select2-selection__rendered {
                padding-right: 10px
            }

            .select2-container .select2-selection--single .select2-selection__rendered {
                padding-left: 0;
                padding-right: 0;
                height: auto;
                margin-top: -3px
            }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 28px
        }

        .select2-container--default .select2-selection--single,
        .select2-selection .select2-selection--single {
            border: 1px solid #d2d6de;
            border-radius: 5px !important;
            padding: 6px 12px;
            height: 40px !important
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 26px;
                position: absolute;
                top: 6px !important;
                right: 1px;
                width: 20px
            }

        .select2-container--default .select2-results__option {
            padding: 8px 12px;
            font-size: 14px;
            border-bottom: 1px solid #ddd;
            border-radius: 5px;
        }

        .select2-container--default .select2-results__option--highlighted {
            background-color: #44444c !important;
            color: white !important;
        }
        /* Style the search box container */
        .select2-container--default .select2-search--dropdown .select2-search__field {
            padding: 8px;
            border: 1px solid #d2d6de;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 14px;
        }

            /* Style the search box input */
            .select2-container--default .select2-search--dropdown .select2-search__field:focus {
                border-color: #44444c;
                outline: none;
                box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
                border-radius: 5px;
            }

        .select2-container--default .select2-dropdown {
            border: 1px solid #d2d6de;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            max-height: 200px; /* Adjust as needed */
            overflow-y: auto; /* Enable scrolling if options overflow */
        }

        .checkbox-group {
            margin-top: 15px;
        }

            .checkbox-group label {
               
                display: block;
                margin-bottom: 8px;
            }

        .checkbox-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Two columns */
            gap: 10px; /* Space between columns */
        }

        .checkbox-item {
            display: flex;
            align-items: center;
        }

            .checkbox-item input[type="checkbox"] {
                margin-right: 10px;
                transform: scale(1.2); 
            }

            .checkbox-item label {
                font-weight: normal !important;
                margin: 0;
                font-size: 1rem;
                cursor: pointer;
            }

           
          
    </style>

</head>
<body>
    <div class="container">
        <h1 class="Title" style="text-align: center;">Labs Table</h1>

        <p class="text-right">
            <a class="btn btn-primary" id="RequestLabs" onclick="$('#SubmitRequest').modal('show')" style="background-color: #44444c; border-color: #44444c">Submit Lab Request</a>
        </p>

        <template id="LabRowTemplate">
            <tr>
                <td class="result-id"></td>
                <td class="test-name"></td>
                <td class="requested-by"></td>
                <td class="request-date"></td>
                <td class="result-date"></td>
                <td>
                    
                    <a class="btn btn-primary submit-result" style="background-color: #44444c; border-color: #44444c; color:white;width:40px">
                        <i class="fas fa-upload"></i>
                    </a>
                </td>
            </tr>
        </template>
        <table id="Department-table" class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Test_Name</th>
                    <th>Requested_By</th>
                    <th>Request_Date</th>
                    <th>Results_Date</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="SubmitRequest" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addEventModalLabel">Submit Request</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeAddModal" onclick=" $('#AddDepartmentModal').modal('hide');"></button>
                </div>
                <div class="modal-body">
                    <form id="AddDepartmentForm">
                        <select name="Patient" id="Patient" class="form-control" data-placeholder="Select a Patient" style="width: 100%;" tabindex="-1" aria-hidden="true" onchange="#">
                           
                            <option value="" selected disabled>Select a Patient</option>
                        </select>
                        <input type="number" name="PatientID" id="PatientID" placeholder="Patient " class="form-control" hidden/><br/>
                        <select name="Doctor" id="Doctor" class="form-control" data-placeholder="Select a Doctor" style="width: 100%;" tabindex="-1" aria-hidden="true" onchange="#">
                            <option value="" selected disabled>Select a Doctor</option>
                        </select> 
                        <input type="number" name="DoctorID" id="DoctorID" placeholder="Doctor Requesting" class="form-control" hidden />
                        <div class="form-group checkbox-group">
                            <label for="TestType">Test Type</label>
                            <div class="checkbox-container">
                                <div class="checkbox-item">
                                    <input type="checkbox" id="TestType1" name="TestType" value="Blood Count">
                                    <label for="TestType1">Blood Count</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="TestType2" name="TestType" value="Blood Test">
                                    <label for="TestType2">Blood Test</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="TestType3" name="TestType" value="Urinalysis">
                                    <label for="TestType3">Urinalysis</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="TestType4" name="TestType" value="Basic metabolic panel">
                                    <label for="TestType4">Basic Metabolic Panel</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="TestType5" name="TestType" value="Cancer testing">
                                    <label for="TestType5">Cancer Testing</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="TestType6" name="TestType" value="Genetic testing">
                                    <label for="TestType6">Genetic Testing</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group checkbox-group">
                            <label for="SampleSubmitted">Sample Submitted</label>
                            <div class="checkbox-container">
                                <div class="checkbox-item">
                                    <input type="checkbox" id="Sample1" name="SampleSubmitted" value="Blood">
                                    <label for="Sample1">Blood</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="Sample1" name="SampleSubmitted" value="Urine">
                                    <label for="Sample1">Urine</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="Sample3" name="SampleSubmitted" value="Tissue">
                                    <label for="Sample3">Tissue</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="Sample4" name="SampleSubmitted" value="Saliva">
                                    <label for="Sample4">Saliva</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" id="Sample5" name="SampleSubmitted" value="amnioticfluid">
                                    <label for="Sample5">Amniotic Fluid</label>
                                </div>
                               
                            </div>
                        </div>
                        <label for="RequestedDate">Request Date</label>
                        <input type="datetime-local" name="RequestedDate" id="RequestedDate" placeholder="Requested Date" class="form-control" />

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="submitDepartment" class="btn btn-primary" style="background-color: #44444c; color:white">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EditDepartmentModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addEventModalLabel">Add Department</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeAddModal" onclick=" $('#AddDepartmentModal').modal('hide');"></button>
                </div>
                <div class="modal-body">
                    <form id="EditDepartmentForm">
                        <input type="number" id="DepartmentID" name="DepartmentID" placeholder="DepartmentID" class="form-control" readonly /> <br />
                        <input type="text" id="DepartmentName2" name="DepartmentName" placeholder="DepartmentName" class="form-control" /><br />
                        <select name="Head" id="Head2" class="head form-control" data-placeholder="Select a Head Of Department" style="width: 100%;" tabindex="-1" aria-hidden="true" onchange="updateHeadID()">
                            <option value="" selected disabled>Select a department Head</option>
                        </select>
                        <input type="number" name="DepartmentHeadID" id="DepartmentHeadID" placeholder="Department Head ID" class="form-control" readonly />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="UpdateDepartment" class="btn btn-primary" style="background-color: #44444c; color:white">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ViewDepartmentModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addEventModalLabel">View Department</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeAddModal" onclick=" $('#ViewDepartmentModal').modal('hide');"></button>
                </div>
                <div class="modal-body">

                    <input type="number" id="DepartmentID3" name="DepartmentID" placeholder="DepartmentID" class="form-control" readonly /> <br />
                    <input type="text" id="DepartmentName3" name="DepartmentName" placeholder="DepartmentName" class="form-control" readonly /><br />
                    <input type="text" id="DepaertmentHeadName" name="DepaertmentHeadName" placeholder="DepaertmentHeadName" class="form-control" readonly /> <br />
                    <input type="number" name="DepartmentHeadID" id="DepartmentHeadID" placeholder="Department Head ID" class="form-control" readonly />

                </div>

            </div>
        </div>
    </div>
    

</body>




</html>